<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
	 <settings>
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	 </settings>
	 
	<!--
	    plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
	    properties?, settings?,
	    typeAliases?, typeHandlers?,
	    objectFactory?,objectWrapperFactory?,
	    plugins?,
	    environments?, databaseIdProvider?, mappers?
	-->
	<plugins>
	    <!-- com.github.pagehelper为PageHelper类所在包名 -->
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	        <!-- 指定数据库 -->
	        <property name="helperDialect" value="mysql"/>
	        <property name="reasonable" value="true"/>
		</plugin>
	</plugins>
 
</configuration>